/* CSS declarations go here */

html,
body{
	/*background-image: url('forest.jpg');*/
	/*background-image: url('http://i.imgur.com/a1WbOdo.jpg');*/
	
    background-color: #cccccc;
    
}


.jumbotron {
    margin-bottom: 0px;
    background-image: url(/img/background.jpg);
    /*background-position: 0% 25%;*/
    background-size: 100%;
    background-repeat: no-repeat;
    color: black;
    /*min-height: 100%;*/
   
}
  
  .jumbotron h1 {
  	 text-shadow: black 0.3em 0.3em 0.3em;
 
  }

  .jumbotron p {
  	margin-left: 200px;
  	margin-right: 100px;
  	padding-bottom: 25px;
  	padding-left: 50px;
  	/*padding-left :200px;*/
  	color:white;
  	background-color:rgba(0,0,0,0.4);

  }