/* CSS declarations go here */

html,
body{
	/*background-image: url('forest.jpg');*/
	/*background-image: url('http://i.imgur.com/a1WbOdo.jpg');*/
	 font-family: 'Open Sans', sans-serif;
    background-color: #f8f8f8;

}


.container{

  vertical-align: right;
}


.jumbotron {
    margin-bottom: 0px;
    background-image: url(/img/background.jpg);
    /*background-position: 0% 25%;*/
    vertical-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
    color: black;
    /*min-height: 100%;*/
    font-family: 'Open Sans', sans-serif;
   
}
  
  .jumbotron h2 {
  	 text-shadow: black 0.3em 0.3em 0.3em;
     font-family: 'Open Sans', sans-serif;
 
  }

  .jumbotron h5  {
  font-family: 'Open Sans', sans-serif;
  }

  .jumbotron h6{
    font-family: 'Open Sans', sans-serif;
  }

  .jumbotron p {
    float:right;
/*
  	margin-left: 200px;
  	margin-right: 100px;*/
    max-width: 700px;
    vertical-align: right;
  	padding-top: 25px;
  	padding-bottom: 25px;
  	padding-left: 50px;
    padding-right: 25px;
  	/*padding-left :200px;*/
  	color:white;
  	background-color:rgba(0,0,0,0.4);

  }